FIREBASE_API_KEY=your_firebase_web_api_key
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_admin_client_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key\n-----END PRIVATE KEY-----\n"
TURNSTILE_SITE_KEY=your_cloudflare_turnstile_site_key
TURNSTILE_SECRET_KEY=your_cloudflare_turnstile_secret_key
META_WHATSAPP_ACCESS_TOKEN=your_meta_cloud_api_access_token
META_WHATSAPP_PHONE_NUMBER_ID=your_meta_whatsapp_phone_number_id
META_WHATSAPP_WEBHOOK_VERIFY_TOKEN=choose_a_long_random_verify_token
WHATSAPP_GRAPH_VERSION=v20.0
WHATSAPP_TEMPLATE_LANGUAGE=en
WHATSAPP_TEMPLATE_MEETING_REMINDER=club_meeting_reminder
WHATSAPP_TEMPLATE_ABSENT_NOTICE=attendance_absent_notice
WHATSAPP_TEMPLATE_ABSENCE_REVIEW=attendance_flag_review
